
.area {
    /*  opacity: 0.8; */
    clip-path: url(#clip);
}

/*
.circles{
    opacity: 0.8;
}
*/
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.country:hover {
    stroke: #fff;
    stroke-width: 1.5px;
}

.text {
    font-size: 10px;
    text-transform: capitalize;
}

#container {
    border: 2px solid #000;
    border: 2px solid grey;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    background: #F0F8FF;
}

.hidden {
    display: none;
}

div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}

.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.equator {
    stroke: #ccc;
    stroke-width: 1px;
}

.centered {
    text-align: center;
}

.ufoColor {
    fill: rgb(33, 113, 181);
    opacity: 0.70;
}

.bigfootColor {
    fill: red;
    opacity: .70;
}

.meteoriteColor {
    fill: yellow;
    opacity: .70;
}

.legend {
    font-size: 12px;
}

.brushelement {
    background-color: #F2F5F0;
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}

.circle, .circleUfo, .circleBigfoot, .circleMeteorites {
    width: 10px;
    height: 10px;
    margin-left: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    border-radius: 50px;
}
.circleUfo
{
    margin-left: 26px;
    background: rgb(33, 113, 181);
}
.circleBigfoot
{
    background: red;
}
.circleMeteorites
{
    margin-left: 44px;
    background: green;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}