
.area {
    /*  opacity: 0.8; */
    clip-path: url(#clip);
}

/*
.circles{
    opacity: 0.8;
}
*/
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.country:hover {
    stroke: #fff;
    stroke-width: 1.5px;
}

.text {
    font-size: 10px;
    text-transform: capitalize;
}

#container {
    margin: 10px 10%;
    border: 2px solid grey;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    background: #F0F8FF;
}

.hidden {
    display: none;
}

div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}

.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.equator {
    stroke: #ccc;
    stroke-width: 1px;
}

.centered {
    text-align: center;
}

.ufoColor {
    fill: rgb(33, 113, 181);
}

.bigfootColor {
    fill: red;
}

.legend {
    font-size: 12px;
}

.brushelement {
    background-color: #F2F5F0;
    margin: 10px 10%;
    border: 2px solid grey;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}
